@charset "utf-8";

@font-face{
    font-family: "SG";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../font/sg.ttf") format("truetype");
}

body{
	background: url(../imagenes/dedalo.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#login{
	width: 98%;
	height: 20px;
	padding: 1%;
	background: -webkit-gradient(linear, left top, left bottom, from(#102e59), to(black));
	background: -webkit-linear-gradient(top, #102e59, black);
	background: -moz-linear-gradient(top, #102e59, black);
	background: -ms-linear-gradient(top, #102e59, black);
	background: -o-linear-gradient(top, #102e59, black);
	text-align: right;
	color: #86abc9;
	font-size: 10px;
}

.ingresar{
	background-color: #86abc9;
	font-family: "SG";
	height: 20px;
	border: none;
	font-size: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#86abc9), to(#102e59));
	background: -webkit-linear-gradient(top, #86abc9, #102e59);
	background: -moz-linear-gradient(top, #86abc9, #102e59);
	background: -ms-linear-gradient(top, #86abc9, #102e59);
	background: -o-linear-gradient(top, #86abc9, #102e59);
	color: white;
	cursor: pointer;
}

.ingresar:hover{
	color: black;
}

.input{
	font-size: 12px;
	height: 15x;
	width: 80px;
	background-color: #494745;
	border: none;
	color: white;
	text-align: center;
	border-radius: 3px;
}

#box{
	position: relative;
	background: -webkit-gradient(radial, left top, left bottom, from(#102e59), to(black));
	background: -webkit-radial-gradient(top, #102e59, black);
	background: -moz-radial-gradient(top, #102e59, black);
	background: -ms-radial-gradient(top, #102e59, black);
	background: -o-radial-gradient(top, #102e59, black);
	width: 20em;
	height: auto;
	max-height: 70%;
	padding: 0.5em;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	margin-top: 8%;
	margin-left: 4%;
}

#menu{
	position: relative;
	width: 100%;
}

.boton{
	float: left;
	width: 33.3%;
	text-align: center;
	background: -webkit-gradient(linear, left top, left bottom, from(#86abc9), to(#102e59));
	background: -webkit-linear-gradient(top, #86abc9, #102e59);
	background: -moz-linear-gradient(top, #86abc9, #102e59);
	background: -ms-linear-gradient(top, #86abc9, #102e59);
	background: -o-linear-gradient(top, #86abc9, #102e59);
	color: white;
	font-weight: bolder;
	font-family: "SG";
	cursor: pointer;
}

.boton:hover{
	color: black;
}

#intro{
	background: url(../imagenes/trans.png) no-repeat center center fixed;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: white;
	text-align: justify;
	padding: 0.5em;
	font-weight: bolder;
}

a{
	text-decoration: none;
	color: white;
}